.login-background {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.login-header {
  display: flex;
  justify-content: flex-end;
}

.back-arrow {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #064d5a;
}

.login-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-left {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-right {
  flex: 1;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
    max-width: 700px;
    margin: 80px auto;
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
.text-center.mb-4{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

  h3 {
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #222;
  }
  
  .form-control {
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    
  }
  
  .form-control:focus {
    border-color: #c47fda;
  }
  
  .my-custom-button {
  background-color: #d66695;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 17px;
  margin-top: 10px;
  width: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  }
  
  
  .select-button {
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .custom-button-register:hover {
    background-color: #97315b;
    border-color: #97315b;
  }
  
  .text-center {
    color: black;
    font-size: larger;
    text-align: center;
  }
  
  .form-control.is-invalid {
    border-color: #e74c3c;
  }
  
  .form-control.is-invalid:focus {
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
  }
  
  .faq-recomendation{
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
  }

  .custom-button-faq:hover {
  text-decoration: underline;
  }

  .custom-button-faq {
  color: #d66695;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}